version: "3.3"
services:

  traefik:
    image: "traefik:v2.2"
    container_name: "traefik"
    restart: unless-stopped
    deploy:
      replicas: 1
      restart_policy:
        condition: unless-stopped
    command:
      #- "--log.level=DEBUG"
      - "--api.insecure=true"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--entrypoints.web.address=:80"
    ports:
      - "80:80"
      - "8080:8080"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"
      - "/usr/bin/docker:/usr/bin/docker:ro"

  jenkins:
    image: jenkinsci/blueocean
    container_name: "jenkins-master"
    user: root
    restart: unless-stopped
    deploy:
      replicas: 1
      restart_policy:
        condition: unless-stopped
    volumes:
      - "/opt/volumes/jenkins_home:/var/jenkins_home"
      - "/var/run/docker.sock:/var/run/docker.sock"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.jenkins.rule=PathPrefix(``)"
      - "traefik.http.routers.jenkins.entrypoints=web"
